## Variables and Data Types in Python

#### Basic Print statement

In [1]:
print("Welcome to Python")
print("this is the first notebook!!!")
print("hello world !!!")

Welcome to Python
this is the first notebook!!!
hello world !!!

#### Variable Declarations:

In [4]:
emp_name = "John"
emp_id = 123
designation = 'Engineer'
dept = 'IT'
salary = 50000
overtime = 20000

# Multiple assignment

x = y = z = 100 

p,q,r = 100, 200, "John"

In [5]:
print(emp_name) 
print(emp_id)
print(designation)

John
123
Engineer

In [6]:
print(x) 
print(y)
print(z)

100
100
100

In [7]:
print(p) 
print(q)
print(r)

100
200
John

#### Print Statement in Python

In [8]:
print("Employee Name: %s" % emp_name)
print("Employee ID: %d" % emp_id)
print("Employee Designation: %s" % designation)
print("Employee Department: %s" % dept)
print("Employee Name: %d" % salary)

print("\nTotal Salary of John per month: %d" %(salary + overtime))  #arithmetic operations

Employee Name: John
Employee ID: 123
Employee Designation: Engineer
Employee Department: IT
Employee Name: 50000

Total Salary of John per month: 70000

#### Formatting the print statements:

In [9]:
print("\n%s is an %s and works in %s department and his Salary is %d" %(emp_name, designation, dept, salary))

John is an Engineer and works in IT department and his Salary is 50000

### Global Functions

#### Create a variable outside of a function, and use it inside the function

In [10]:
emp_name = "John"

def emp():
  print("Employee Name: " + emp_name)

emp()

Employee Name: John

#### Create a variable inside a function, with the same name as the global variable

In [11]:
emp_name = "John"

def emp():
  emp_name = "Peter"
  print("Employee Name: " + emp_name)

emp()

print("Employee Name:" + emp_name)

Employee Name: Peter
Employee Name:John

#### Using global keyword, you can create a variable inside and function, but that variable belongs to global scope

In [12]:
def emp():
  global emp_name
  emp_name = "John"

emp()

print("Employee Name: " + emp_name)

Employee Name: John

## Standard Data Types

#### Python has five standard data types −

Numbers
String
List
Tuple
Dictionary

#### Numbers:

Python supports four different numerical types −

int (signed integers) - 
long (long integers, they can also be represented in octal and hexadecimal) - 96898861L
float (floating point real values) - 2.3
complex (complex numbers) - 3.14j

In [13]:
x = 3         # integer
y = 0.5       # float
z = 3.14j     # complex 
a = 96898861  # Long

In [14]:
print(x)
print(y)
print(z)
print(a)

3
0.5
3.14j
96898861

#### String - str

In [15]:
abc = "Welcome to python programming"

print(abc)              # Prints complete string
print(abc[0])           # Prints first character of the string - its start from 0 index
print(abc[3:6])         # Prints characters starting from 4rd to 6th
print(abc[3:])          # Prints string starting from 4rd character
print(abc * 2)          # Prints string two times
print(abc + " with SR") # Prints concatenated string

Welcome to python programming
W
com
come to python programming
Welcome to python programmingWelcome to python programming
Welcome to python programming with SR

In [16]:
abc = "Welcome,to,python programming"
print(abc.split(","))                   # split function

['Welcome', 'to', 'python programming']

In [17]:
str_1 = "Python"
str_2 = "Programming"
final_str = str_1 + str_2
print(final_str)

PythonProgramming

In [18]:
str_1 = "Python"
str_2 = "Programming"
final_str = str_1 +  " " + str_2
print(final_str)

Python Programming

#### String Methods

In [19]:
# capitalize() - Converts the first character to upper case
str_1 = "python"
print(str_1.capitalize())

Python

In [20]:
# upper() - Convert string to upper case. 
str_1 = "python"
print(str_1.upper())

PYTHON

In [21]:
# lower() - Convert string to upper case. 
str_1 = "PyThON"
print(str_1.lower())

python

In [22]:
# replace() - replace the string
str_1 = "I like C programming"
str_2 = str_1.replace("C", "Python")
print(str_2)

I like Python programming

In [24]:
# startswith() 
str_1 = "I like C programming"
str_2 = str_1.startswith("w")
print(str_2)

False

#### Lists

In [25]:
list_1 = [ 'John', 123 , 0.5, 'Peter', 56.9, "Mathew", 0.006 ]
list_2 = [420, 'Michael']

print(list_1)           
print(list_1[0])        
print(list_1[1:3])     # 2nd till 3rd 
print(list_1[2:])      # from 3rd element
print(list_2 * 2)      
print(list_1 + list_2) # concatenate two lists

['John', 123, 0.5, 'Peter', 56.9, 'Mathew', 0.006]
John
[123, 0.5]
[0.5, 'Peter', 56.9, 'Mathew', 0.006]
[420, 'Michael', 420, 'Michael']
['John', 123, 0.5, 'Peter', 56.9, 'Mathew', 0.006, 420, 'Michael']

#### Tuple

In [36]:
tuple_1 = ( 'John', 123 , 0.5, 'Peter', 56.9, "Mathew", 0.006 )
tuple_2 = (420, 'Michael')

print(tuple_1)          
print(tuple_1[0])       
print(tuple_1[1:3])     # 2nd till 3rd 
print(tuple_1[2:])      # 3rd element
print(tuple_2 * 2)  
print(tuple_1 + tuple_2)

('John', 123, 0.5, 'Peter', 56.9, 'Mathew', 0.006)
John
(123, 0.5)
(0.5, 'Peter', 56.9, 'Mathew', 0.006)
(420, 'Michael', 420, 'Michael')
('John', 123, 0.5, 'Peter', 56.9, 'Mathew', 0.006, 420, 'Michael')

In [34]:
type(tuple_1)

tuple

#### Dictionary

In [27]:
dictionary_1 = {}
dictionary_1['one'] = "This is one"

dictionary_1[2]     = "This is two"

new_dict = {'emp_name': 'Peter','emp_id':1234, 'emp_dept': 'Finance'}


print(dictionary_1['one'])        
print(dictionary_1[2])            
print(new_dict)                   
print(new_dict.keys())             
print(new_dict.values())

This is one
This is two
{'emp_name': 'Peter', 'emp_id': 1234, 'emp_dept': 'Finance'}
dict_keys(['emp_name', 'emp_id', 'emp_dept'])
dict_values(['Peter', 1234, 'Finance'])

In [28]:
print(len(new_dict))              #len - length of the dictionary

3